[submodule "repos/poky"]
	path = repos/poky
	url = https://github.com/yoctoproject/poky.git
	branch = nanbield
[submodule "repos/meta-openembedded"]
	path = repos/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = nanbield
[submodule "repos/meta-ros"]
	path = repos/meta-ros
	url = https://github.com/mc-cat-tty/meta-ros 
	branch = nanbield
[submodule "repos/meta-xilinx"]
	path = repos/meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx
	branch = nanbield
[submodule "layers/meta-xilinx-tools"]
	path = layers/meta-xilinx-tools
	url = https://github.com/Xilinx/meta-xilinx-tools
	branch = nanbield
[submodule "layers/meta-petalinux"]
	path = layers/meta-petalinux
	url = https://github.com/mc-cat-tty/meta-petalinux 
	branch = nanbield
[submodule "layers/meta-jupyter"]
	path = layers/meta-jupyter
	url = https://github.com/Xilinx/meta-jupyter
	branch = master
[submodule "repos/meta-security"]
	path = repos/meta-security
	url = https://git.yoctoproject.org/meta-security
	branch = nanbield
[submodule "layers/meta-mingw"]
	path = layers/meta-mingw
	url = https://git.yoctoproject.org/meta-mingw
	branch = nanbield
[submodule "layers/meta-qt5"]
	path = layers/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5
	branch = nanbield
[submodule "layers/meta-virtualization"]
	path = layers/meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization/
	branch = nanbield
[submodule "layers/meta-openamp"]
	path = layers/meta-openamp
	url = https://github.com/OpenAMP/meta-openamp
	branch = master
[submodule "layers/meta-xilinx-tsn"]
	path = layers/meta-xilinx-tsn
	url = https://github.com/Xilinx/meta-xilinx-tsn
	branch = master
[submodule "layers/meta-aws"]
	path = layers/meta-aws
	url = https://git.yoctoproject.org/meta-aws
	branch = nanbield
[submodule "layers/meta-system-controller"]
	path = layers/meta-system-controller
	url = https://github.com/Xilinx/meta-system-controller
	branch = master
[submodule "meta-kria-mmr"]
	path = layers/meta-kria
	url = https://github.com/mc-cat-tty/meta-kria-mmr
	branch = nanbield
[submodule "repos/device-tree-xlnx"]
	path = repos/device-tree-xlnx
	url = https://github.com/Xilinx/device-tree-xlnx
	branch = xlnx_rel_v2022.2
